* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8b55db;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
    background: rgba(156, 134, 253, 0.9); 
    padding: 3rem;
    border-radius: 20px; 
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15); 
    width: 100%;
    max-width: 500px;
    text-align: center;
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: translateY(-5px); 
}

h1 {
    color: #333;
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.counter-box {
    margin: 2rem 0;
}

.count {
    font-size: 6rem; 
    font-weight: bold;
    color: #764ba2;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
    transition: color 0.2s;
}

input[type="text"] {
    width: 100%;
    padding: 15px 20px;
    font-size: 1.1rem;
    border: 2px solid #ddd;
    border-radius: 50px; 
    outline: none;
    transition: all 0.3s ease;
    background: #f9f9f9;
    text-align: center;
}

input[type="text"]:focus {
    border-color: #667eea;
    box-shadow: 0 0 15px rgba(102, 126, 234, 0.3);
    background: #fff;
    transform: scale(1.02);
}
.footer-name {
    margin-top: 30px;       /* เว้นห่างจากกล่องสีขาว */
    text-align: center;     /* จัดกึ่งกลาง */
    color: white;           /* สีขาว (เพื่อให้เห็นชัดบนพื้นหลังสีรุ้ง) */
    font-size: 1.1rem;      /* ขนาดตัวหนังสือ */
    font-weight: 500;       /* ความหนาปานกลาง */
    line-height: 1.6;       /* ระยะห่างระหว่างบรรทัด */
    text-shadow: 0 2px 4px rgba(0,0,0,0.3); /* เงาให้ตัวหนังสือลอยเด่น */
}